* {
    box-sizing: border-box;
  }
  html {
    scroll-behavior: smooth;
  }
body {
    font-family: Roboto;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    color: #000;
    font-size: 18px;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
    min-height: 50px;
}
.main-container{
    display: flex;
    flex-wrap: wrap;
}
.header {
    background-color: #000;
    padding: 10px 0 10px 0;
}
.nav-list {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.nav-link {
    padding: 0 20px;
    line-height: 50px;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    position: relative;
}
.nav-link:after{
    content: '';
    display: block;
    height: 2px;
    background-color: #fff;
    width: 0%;
    margin: 0;
    padding: 0;
    transition: 1s all;
    position: absolute;
}
.nav-link:hover{
    color: blue;
    transition: 1s all;
}
.hamburger {
    display: none;
}
.nav-link:hover::after{
    color: blue;
    width: 100%;
}
.section {
    margin-right: 50px;
    width: 45%;
    padding-bottom: 30px;
    border-bottom: 1px solid #000;
}


.section-profile {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 50px 0 50px 0;
    border-bottom :5px solid #000
}
.section-profile-logo {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .9);

}

.main-profile-title {
    text-align: center;
    font-size: 40px;
    letter-spacing: 12px;

}
.main-profile-title::after {

    margin: 0 auto;
margin-top: 20px;
    content: '';
    display: block;
    height: 2px;
    background-color: #000;
    width: 60%;

}
.main-profile-subtitle {
    font-size: 30px;
    letter-spacing: 12px;
}
.section-item {
    position: relative;
    list-style-type: none;
    font-size: 20px;
    margin-bottom: 20px;
}
.section-item::before {
    content: '';
    display: block;
    position: absolute;
    top: 2px;
    left: -25px;
    background-size: contain;
    width: 20px;
    height: 20px;
    background-image: url('../assets/img/icon/check_mark.png')
}
.section-item a {
    text-decoration: none;
    color: #000;
}
.contact-item:nth-child(1)::before {
    background-image: url('../assets/img/icon/location.png')
}
.contact-item:nth-child(2)::before {
    background-image: url('../assets/img/icon/email.png')
}
.contact-item:nth-child(3)::before {
    background-image: url('../assets/img/icon/github.png')
}
.contact-item:nth-child(4)::before {
    background-image: url('../assets/img/icon/discord.png')
}
.contact-item:nth-child(5)::before {
    background-image: url('../assets/img/icon/phone.png')
}
.skills-item:nth-child(1)::before {
    background-image: url('../assets/img/icon/html.png')
}
.skills-item:nth-child(2)::before {
    background-image: url('../assets/img/icon/css.png')
}
.skills-item:nth-child(3)::before {
    background-image: url('../assets/img/icon/javascript.png')
}
.skills-item:nth-child(4)::before {
    background-image: url('../assets/img/icon/git.png')
}
.summary-text {
    font-size: 20px;
    line-height: 33px;
}

.section-education, .section-languages{
    border: none;
}


.footer {
    background-color: #000;
    padding: 15px 0 15px 0;
}
.footer-container {
display: flex;
justify-content: space-between;
align-items: center;
}
.footer-link {
    color: #fff;
}
.footer-link a {
    padding-left: 20px;
    text-decoration: none;
    color: #fff;
}
.rss {
    display: block;
    width: 200px;
    height: 40px;
    background-image: url('../assets/img/rs_school_js.svg');
    background-size: contain;
    background-repeat: no-repeat;
}


@media (max-width: 1200px) {

    .section {
        width: 40%;
    }
    .section-profile {
        width: 100%;
    }
    .nav-list {
        justify-content: center;
    }
    .main-profile-subtitle {
        font-size: 28px;
        letter-spacing: 10px;
}
.main-profile-title {
    text-align: center;
    font-size: 35px;
    letter-spacing: 10px;

}
.footer-link {
    margin-left: 20px;
}
}
@media (max-width: 991px) {
    .nav-link {
        font-size: 14px;
        line-height: 10px;
    }
    .main-profile-title {
        font-size: 30px;
        letter-spacing: 5px;
    }
    .main-profile-subtitle {
        text-align: center;
        font-size: 25px;
        letter-spacing: 5px;
    }
    .section-profile-logo {
        width: 200px;
        height: 200px;
    }
    .section-title {
        text-align: center;
    }
    .summary-text {
        font-size: 17px;
        line-height: 30px;
    }
}
@media (max-width: 769px) {
    .nav-list {
        position: absolute;
        top: 0;
        left: -100%;
        width: 90%;
        height: 100vh;
        background-color: rgba(0, 0, 0, .6);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: 0.7s all;
    }
    .nav-list-active {
        left: 0;
    }
    .nav-item {
        margin: 10px 0;
    }
    .nav-item a {
        font-size: 20px;

    }
    .section-profile {
        flex-direction: column;
        align-items: center;
    }
    .section {
        width: 100%;
    }
    .summary-text {
        margin-left: 30px;
    }
    .section-text {
        margin-left: 30px;
    }
    .header {
        position: relative;
    }
    .hamburger {
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 20px;
        width: 20px;
        height: 12px;
    }
    .hamburger span {
        display: block;
        height: 2px;
        width: 100%;
        background-color: #fff;
        margin-bottom: 2px;
    }
    .hamburger-active span {
        transition: 0.5s all;
        margin-bottom: -2px;
    }
    .hamburger-active span:nth-child(1) {
        transform: translateY(3px) rotate(-45deg);
    }
    .hamburger-active span:nth-child(2) {
        display: none;
    }
    .hamburger-active span:nth-child(3) {
        transform: translateY(3px) rotate(45deg);
    }
}
@media (max-width: 576px) {
    .pre {
        font-size: 13px;
    }
    .rss {
        width: 100px;
    }
}