.container {
    max-width: 1440px;
    margin: 0 auto;
}

html {
    font-family: Poppins, sans-serif;
}



.header {
    padding: 20px 0;
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 10px 24px 196px 0px rgba(112, 105, 105, 0.81);
}

main {
    background-color: rgba(9, 154, 243, 0.24);

}

.profile {
    padding: 20px 0;
}

.profile__photo {
    width: 40%;
}

.nav__wrapper {
    display: flex;
    justify-content: space-around;
}

.nav_item {
    font-size: 18px;
}

.profile__wrapper {
    display: flex;
    justify-content: center;

}

.profile__descr {
    width: 40%;
}

.profile__img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: black;
    background-image: url('../assets/image/photo.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-size: cover;
}

.profile__title {
    font-size: 32px;
}

.profile__subtitle {
    font-size: 26px;
}

.footer {
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 10px 24px 196px 0px rgba(112, 105, 105, 0.81);
}

.footer__wrapper {
    padding: 20px 0;
    max-height: 70px;
    display: flex;
    justify-content: space-around;


}